.tabla_cuentas{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2%;
}

.textoGrid {
    background-color: white;
    border: none;
    width: 100%;
    text-align: center;
}


#containerCuentaPers
{
    border: 1px solid #414141;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40%;
    margin: 4% 24%;
    padding: 2% 6%;
    float: left;
    background-color:#D8D8BF;
}

.etiq
{
   float: left;
   width: 20%;    
}

.txtBox
{
   float: left;
   width: 70%;     
}

.cont
{
   float: left;
   width: 100%;     
}

#pnlBtnMod
{
   margin-bottom:3%;    
}

#pnlBtnAcCan
{
   margin-top:3%;    
}

.validadorCuenta {
    float:left;
}