#perfil_content
{
    font-size: 0.85em;
}

#perfil_botones
{
    width: 100%;
    float: left;
    margin: 5px 0;
}

#perfil_botones input
{
    float: right;
}

.btnModPerfil
{
    margin-left: 5px;
}


#perfil_nombre
{
    width: 90%;
    float: left;
    margin: 5px 5%;
}

#radioTipo
{
    width: 90%;
    float: left;
    margin: 10px 5%;
}

#LabelNombre
{
    width:20%;
    float:left;    
}
#txtNombre
{
    width:80%;
    float:left;   
}

#validarores1
{
    width:20%;
    float:left;    
}

#validarores2
{
    width:80%;
    float:left;   
}

.text
{
    width:50%;
    float:left;
}

#perfil_permisos
{
    width: 100%;
    float: left;
    margin: 5px 0;
}

.columna-perfil
{
    width: 33%;
    float: left;
}

.perfil_radio
{
    width: 100%;
    float: left;
    font-weight: bold;
}

.borde_perfil
{
    border: 1px solid #d4ccb0;
    border-radius: 5px;
    float: left;
    margin: 1px 0;
}

.perfil_mensaje
{
    width: 95%;
    float: left;
    font-style: italic;
    padding: 1% 5% 2% 5%;
}

.grid_Perfil {
    margin: 0 0 0 150px;
}